<div style="padding: 20px">
  <div>
    <h2>Today's Emails</h2>
    <p>
      <span>Delivered: </span>
      <%= @mailing_details[:delivered_count] %>/<%= @mailing_details[:list_members].length %>
    </p>
    <p>
      <details>
        <summary>Failed: <%= @mailing_details[:failed_recipients].length %>/<%= @mailing_details[:list_members].length %></summary>
        <table>
          <thead>
            <tr>
              <th>
                Recipient Address
              </th>
              <th>
                Reason for failure
              </th>
            </tr>
          </thead>
          <tbody>
            <% @mailing_details[:failed_recipients].sort_by{|r| [r[1], r[0]]}.each do |record| %>
              <tr>
                <td><%= record[0] %></td>
                <td><%= record[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </details>
    </p>
    <p>
      <details>
        <summary>Pending: <%= @mailing_details[:pending_recipients].length %>/<%= @mailing_details[:list_members].length %></summary>
        <table>
          <thead>
            <tr>
              <th>
                Recipient Address
              </th>
              <th>
                Reason for delay
              </th>
            </tr>
          </thead>
          <tbody>
            <% @mailing_details[:pending_recipients].each do |record| %>
              <tr>
                <td><%= record[0] %></td>
                <td><%= record[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </details>
    </p>
    <p>
      <details>
        <summary>No records for: <%= @mailing_details[:unexplained_recipients].length %>/<%= @mailing_details[:list_members].length %></summary>
        <table>
          <thead>
            <tr>
              <th>
                Recipient Address
              </th>
            </tr>
          </thead>
          <tbody>
            <% @mailing_details[:unexplained_recipients].each do |record| %>
              <tr>
                <td><%= record %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </details>
    </p>
  </div>
  <div>
    <h2>Mailing List</h2>
    <textarea readonly rows="100" cols="35"><%= @mailing_details[:list_members].join("\n") %></textarea>
  </div>
</div>
